<div class="container main">

    <!-- Alert -->
    <div uib-alert class="alert-danger" close="ctrl.closeAlert();" ng-if="ctrl.error">{{ctrl.error}}</div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h3>Step {{ctrl.step + 1}}: {{ ctrl.stepTitles[ctrl.step] }}</h3>
                    </div>
                </div>

                <!-- Begin of Step 1 -->
                <div class="col-md-12" ng-if="ctrl.step == 0">
                    <form name="checkerForm" role="form" ng-submit="ctrl.goNext(checkerForm);" novalidate>
                        <p class="question">Who is checking in this PO?</p>
                        <div class="radio" ng-repeat="checker in ctrl.checkers">
                          <label>
                            <input type="radio" name="checker" ng-value="checker" ng-model="ctrl.po.checker" required />
                            {{checker}}
                          </label>
                        </div>
                        <div class="action-section">
                            <button class="btn btn-primary btn-next">
                                Next
                            </button>
                        </div>
                    </form>
                </div>
                <!-- End of Step 1 -->

                <!-- Begin of Step 2 -->
                <div class="col-md-12" ng-if="ctrl.step == 1">
                    <form name="poForm" role="form" ng-submit="ctrl.goNext(poForm);" novalidate>
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="poNumber" class="col-xs-4 control-label">PO Number</label>
                                        <div class="col-xs-8">
                                            <input
                                                type="text"
                                                name="poNumber"
                                                class="form-control"
                                                ng-model="ctrl.po.poNumber"
                                                ng-class="{'required-field': poForm.$submitted && poForm.poNumber.$error.required}"
                                                required
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="poAmount" class="col-xs-4 control-label">PO Amount</label>
                                        <div class="col-xs-8">
                                            <div class="input-group">
                                                <div class="input-group-addon">$</div>
                                                <input
                                                    type="text"
                                                    name="poAmount"
                                                    class="form-control"
                                                    ng-model="ctrl.po.poAmount"
                                                    ng-class="{'required-field': poForm.$submitted && poForm.poAmount.$error.required}"
                                                    ng-change="ctrl.updateDifference();"
                                                    required
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="accountName" class="col-xs-4 control-label">Account Name</label>
                                        <div class="col-xs-8">
                                            <input
                                                type="text"
                                                name="accountName"
                                                class="form-control"
                                                ng-model="ctrl.po.accountName"
                                                ng-class="{'required-field': poForm.$submitted && poForm.accountName.$error.required}"
                                                required
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contactName" class="col-xs-4 control-label">Contact Name</label>
                                        <div class="col-xs-8">
                                            <input
                                                type="text"
                                                name="contactName"
                                                class="form-control"
                                                ng-model="ctrl.po.contactName"
                                                ng-class="{'required-field': poForm.$submitted && poForm.contactName.$error.required}"
                                                required
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="action-section">
                            <button type="button" class="btn btn-primary btn-prev" ng-click="ctrl.goPrev();">Previous</button>
                            <button class="btn btn-primary btn-next">Next</button>
                        </div>
                    </form>
                </div>
                <!-- End of Step 2 -->
            </div>
        </div>
    </div>
</div>
